/*
This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.
*/


/* ---- CHECKBOX ------ */ 

 .oc-checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}


/* ---- ICON ------ */ 

.oc-icon path {
	stroke: var(--text-normal);
}

.oc-icon-button {
	padding: 7px;
	display: inline-flex;
	margin: 0 5px;
	cursor: pointer;
}

.oc-icon-button:disabled {
	opacity: 0.5;
	cursor: default;
}


/* ---- EDITABLE INPUT ------ */ 

.oc-editable-input {
	margin-left: 5px;
	min-width: 100px;
	max-width: 200px;
}

.oc-editable-input-edit, .oc-editable-input-validate {
	margin-left: 10px;
	cursor: pointer;
}

.oc-editable-input-edit {
	flex-shrink: 0;
}

.oc-editable-input-edit:focus {
	border: 1px solid var(--text-normal);
}


/* ---- LIST SEARCH ------ */ 

.oc-list-search {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

	.oc-list-search-input {
		margin-right: 5px;
		width: 100%;
	}

	.oc-list-search-add {
		margin-left: 5px;
		cursor: pointer;
	}
	.oc-list-search-add:disabled {
		opacity: 0.5;
		cursor: default;	
	}

	.oc-list-search-error {
		color: var(--text-error);
	}


/* ---- LIST CATEGORY ------ */ 

.oc-category-wrapper {
	padding-left: 10px;
	margin-left: -10px;
	padding-top: 5px;
	margin-top: 5px;
	border-box: box-sizing;
	border: 1px solid transparent;
}

.oc-category-wrapper-is-over {
	border-color: var(--text-normal);
}

	.oc-category {
		display: flex;
		align-items: center;
		margin: 0 0 5px;
	}

	.oc-category-wrapper-folded .oc-category {
		margin: 0;
	}

		.oc-list-category-fold-icon {
			margin-right: 10px;
			cursor: pointer;
			transition: transform 0.2s;
			font-weight: bold;
			transform: rotate(90deg);
		}

		.oc-list-category-fold-icon:focus {
			border: 1px solid var(--text-normal);
		}

		.oc-category-wrapper-folded .oc-list-category-fold-icon {
			transform: rotate(0deg);
		}

		.oc-list-category-name {
			margin: 0;
		}


/* ---- LIST ITEM ------ */ 

.oc-list-item {
	display: flex;
	align-items: center;
	cursor: grab;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 2.5px 10px;
	transition: all 0.2s;
}

.oc-list-item-ticked {
	text-decoration: line-through;
	opacity: 0.5 !important;
}

.oc-list-item-is-over { padding-bottom: 30px; }
.oc-list-item-is-dragging { opacity: 0; height: 0; padding: 0; }

	.oc-list-item-drag-icon {
		opacity: 0;
		fill: var(--text-normal);
		margin-left: -10px;
		margin-right: 10px;
	}

	.oc-list-item:hover .oc-list-item-drag-icon {
		opacity: 1;
	}

	.oc-list-item-checkbox {}

	.oc-list-item-quantity {
		margin-left: 5px;
	}

		.oc-list-item-decrement, .oc-list-item-increment {
			padding: 8px;
			cursor: pointer;
		}

		.oc-list-item-decrement:disabled, .oc-list-item-increment:disabled {
			opacity: 0.5;
			cursor: default;
		}


		.oc-list-item-decrement {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.oc-list-item-quantity .oc-list-item-quantity-input {
			width: 50px;
			border-radius: 0;
		}

		.oc-list-item-increment {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.oc-list-item-name-wrapper {
			display: flex;
			align-items: center;
			margin: 5px 0 5px 5px;
		}

			.oc-list-item-name {
				margin-left: 5px;
			}


/* ---- UTILITY CLASSES ------ */ 

.oc-mg-top-5 { margin-top: 5px; }
.oc-mg-top-10 { margin-top: 10px; }
