/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.oc-icon path {
	stroke: white;
}

.oc-icon-button {
	padding: 7px;
	display: inline-flex;
	margin: 0 5px;
	cursor: pointer;
}

.oc-list-search {
	display: flex;
	align-items: center;
}

	.oc-list-search-label {
		display: block;
		margin-right: 10px;
	}

	.oc-list-search-input {
		margin-top: 5px;
	}

	.oc-list-search-add {
		margin-left: 5px;
		cursor: pointer;
	}
	.oc-list-search-add:disabled {
		opacity: 0.5;
		cursor: default;	
	}


.oc-category {
	display: flex;
	align-items: center;
	margin: 20px 0 10px;
}

	.oc-list-category-name {
		margin: 0;
	}

.oc-list-item, .oc-checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.oc-list-item {
/*	justify-content: space-between;*/
}

.oc-list-item-ticked {
	text-decoration: line-through;
	color: #999;
}

	.oc-list-item-quantity {
		margin-left: 5px;
		margin-right: 10px;
	}

		.oc-list-item-decrement, .oc-list-item-increment {
			padding: 8px;
			cursor: pointer;
		}

		.oc-list-item-decrement:disabled, .oc-list-item-increment:disabled {
			opacity: 0.5;
			cursor: default;
		}


		.oc-list-item-decrement {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.oc-list-item-quantity .oc-list-item-quantity-input {
			width: 50px;
			border-radius: 0;
		}

		.oc-list-item-increment {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.oc-list-item-edit {
			margin-left: 10px;
			cursor: pointer;
		}


/* UTILITY CLASSES */
.oc-mg-top-5 {
	margin-top: 5px;
}

.oc-mg-top-10 {
	margin-top: 10px;
}
