/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.oc-list-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.oc-list-item-quantity {
	margin-right: 5px;
}

.oc-list-item-ticked {
	text-decoration: line-through;
	color: #999;
}

